*.VC.db
*.log
*.opensdf
*.sdf
*~
/build-*/*/Debug
/build-*/*/Release
/build-*/*/x64/Debug
/build-*/*/x64/Release
/build-*/Debug
/build-*/Release
/build-*/tests/*/Debug
/build-*/tests/*/Release
/build-*/tests/*/x64/Debug
/build-*/tests/*/x64/Release
/build-*/x64/Debug
/build-*/x64/Release
/libmd/*.ref
/libmd/md4hl.c
/libmd/md5hl.c
/libmd/rmd160hl.c
/libmd/sha0hl.c
/libmd/sha1hl.c
/libmd/sha224hl.c
/libmd/sha256hl.c
/libmd/sha384hl.c
/libmd/sha512hl.c
/libmd/sha512t224hl.c
/libmd/sha512t256hl.c
/libmd/skein1024hl.c
/libmd/skein256hl.c
/libmd/skein512hl.c
/md5/md5
/md5/rmd160
/md5/sha1
/md5/sha224
/md5/sha256
/md5/sha384
/md5/sha512
/md5/sha512t256
/md5/skein1024
/md5/skein256
/md5/skein512
